<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecs.dao.UserDao">
	<resultMap type="com.ecs.domain.User" id="BaseUserMap">
		<id property="id" column="id"/>
		<result property="name" column="username"/>
		<result property="passWord" column="password"/>
		<result property="identify" column="identify"/>
	</resultMap>
	<select id="findALL" resultType="com.esc.domain.User">
		select * from user
	</select>
</mapper>