<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>访问记录</title>
<link rel="stylesheet" type="text/css" href="css/layui.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
</head>
<body>

	<div id="container">


		<div class="hs">
			<div class="header">
				<ul class="layui-nav">
					<li class="layui-nav-item"><a th:href="@{/login}">退出</a></li>
					<li class="layui-nav-item"><a href="javascript:;" id="userInfo" th:value="${teacher.tnum}" th:text="${teacher.tname}"></a></li>
				</ul>
			</div>
			<div class="side">
				<ul class="layui-nav layui-nav-tree layui-nav-side">
					<li class="layui-logo"><span><a href="">疫情防控管理系统</a></span></li>
					<li class="layui-nav-item"><a href="javascript:;">数据管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goDailyData(tnum=${teacher.tnum})}">打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goBaseData(tnum=${teacher.tnum})}">基础数据</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">申请管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goOut(tnum=${teacher.tnum})}">出校申请</a>
							</dd>
							<dd>
								<a th:href="@{/goIn(tnum=${teacher.tnum})}">入校申请</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">数据报表</a></li>
					<li class="layui-nav-item"><a href="javascript:;">二维码</a></li>
					<li class="layui-nav-item"><a th:href="@{/goAccessData(tnum=${teacher.tnum})}"
						class="layui-this">访问记录</a></li>
					<!-- <li class="layui-nav-item">
							<a href="javascript:;">用户管理</a>
							<dl class="layui-nav-child">
								<dd><a th:href="@{/goUserData(tnum=${teacher.tnum})}">用户数据</a></dd>
								<dd><a th:href="@{/goAddUser(tnum=${teacher.tnum})}">添加用户</a></dd>
							</dl>
						</li> -->
					<li class="layui-nav-item"><a href="javascript:;">设置</a></li>
				</ul>
			</div>
		</div>
		<div class="main layui-body">
			<div class="top layui-form">
				<div class="layui-form-item">
					<select class="layui-select" name="college" lay-verify="">
						<option value="010" selected>计算机学院</option>
						<option value="021">会计学院</option>
						<option value="0571">理学院</option>
					</select>
				</div>
				<div class="layui-form-item">
					<input type="search" class="layui-input layui-input-inline"
						placeholder="10001">
					<button type="button" class="layui-btn layui-btn-primary">搜索</button>
				</div>
			</div>
			<div class="layui-table-box">
				<table class="layui-table" id="dataTable">

				</table>
			</div>
		</div>
	</div>



	<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" th:inline="javascript">
	layui.use('table', function(){
		  var table = layui.table;
		  
		  table.render({
		    elem: '#dataTable'
		    ,url: [[@{/accessData}]]
		    ,cellMinWidth: 80 
		    ,page: true
		    ,method: 'post'
		    ,limit: 12
		    ,even: true
		    ,cols: [
		    	[ 
				  {field: 'id', title: '序号', width: 100}
				,{field: 'username', title: '姓名', width: 200}
				,{field: 'userid', title: '工号'}
				,{field: 'ip', title: 'IP',}
				,{field: 'date', title: '时间'}
				]
		    	]
		    ,groups : 5
			,jump: function(obj){
		      console.log(obj)
		    }
		  });
		});
	
		</script>
</body>
</html>
