<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加用户</title>
<link rel="stylesheet" type="text/css" href="css/layui.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
<style type="text/css">
.form {
	margin-top: 20px;
}

.layui-form-item .layui-input-inline {
	width: 82%;
	margin-bottom: 10px;
}
</style>
</head>
<body>

	<div id="container">


		<div class="hs">
			<div class="header">
				<ul class="layui-nav">
					<li class="layui-nav-item"><a href="javascript:;"
						id="userInfo" th:value="${teacher.tnum}"
						th:text="${teacher.tname}"></a>
						<dl class="layui-nav-child" style="z-index: 1000;">
							<dd>
								<a href="javascript:;" id="changePassword">修改密码</a>
							</dd>
							<dd>
								<a th:href="@{/login}">退出</a>
							</dd>
						</dl></li>
				</ul>
			</div>
			<div class="side">
				<ul class="layui-nav layui-nav-tree layui-nav-side">
					<li class="layui-logo"><span><a href="">疫情防控管理系统</a></span></li>
					<li class="layui-nav-item"><a href="javascript:;">数据管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goDailyData(tnum=${teacher.tnum})}">学生打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goDailyTeacherData(tnum=${teacher.tnum})}">老师打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goBaseData(tnum=${teacher.tnum})}">基础数据</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">申请管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goOut(tnum=${teacher.tnum})}">出校申请</a>
							</dd>
							<dd>
								<a th:href="@{/goIn(tnum=${teacher.tnum})}">入校申请</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a th:href="@{/goEcharts(tnum=${teacher.tnum})}">数据报表</a></li>
					<li class="layui-nav-item"><a th:href="@{/goTrackQuery(tnum=${teacher.tnum})}">轨迹查询</a></li>
					<li class="layui-nav-item" id="accessData"><a
						th:href="@{/goAccessData(tnum=${teacher.tnum})}">访问记录</a></li>
					<li class="layui-nav-item  layui-nav-itemed" id="userManage"><a
						href="javascript:;">用户管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goUserData(tnum=${teacher.tnum})}">用户数据</a>
							</dd>
							<dd>
								<a th:href="@{/goAddUser(tnum=${teacher.tnum})}"
									class="layui-this">添加用户</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">设置</a></li>
				</ul>
			</div>
		</div>
		<div class="main layui-body">
			<fieldset class="layui-elem-field layui-field-title"
				style="margin-top: 20px;">
				<legend>添加用户</legend>
			</fieldset>
			<form class="form layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-inline">
						<input type="text" name="tname" required lay-verify="required"
							placeholder="请输入姓名" lay-vertype="tips" lay-reqtext="姓名不能为空"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">工号</label>
					<div class="layui-input-inline">
						<input type="text" name="tnum" required lay-verify="required"
							placeholder="请输入工号" lay-vertype="tips" lay-reqtext="工号不能为空"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码</label>
					<div class="layui-input-inline">
						<input type="text" name="password" required lay-verify="required"
							placeholder="请输入密码" lay-vertype="tips" lay-reqtext="密码不能为空"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">学校</label>
					<div class="layui-input-inline">
						<input type="text" name="school" required lay-verify="required"
							placeholder="请输入学校" lay-vertype="tips" lay-reqtext="学校不能为空"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">学院</label>
					<div class="layui-input-inline">
						<input type="text" name="college" required lay-verify="required"
							placeholder="请输入学院" lay-vertype="tips" lay-reqtext="学院不能为空"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机</label>
					<div class="layui-input-inline">
						<input type="text" name="tel" required lay-verify="required"
							placeholder="请输入手机号" lay-vertype="tips" lay-reqtext="手机号不能为空"
							autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
						<input type="radio" name="sex" value="男" title="男" checked>
						<input type="radio" name="sex" value="女" title="女">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="submit" class="layui-btn" lay-submit="" lay-filter="addSubmit">提交</button>
						<button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/html" id="changePage"> 
		<form class="layui-form" style="margin-top: 40px; padding-right: 60px;">
			<div class="layui-form-item">
				<label class="layui-form-label">账号</label>
				<div class="layui-input-block">
					<input type="text" name="username" autocomplete="off" class="layui-input" th:value="${teacher.tnum}" readonly="readonly">
				</div>
			</div>  
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-block">
					<input type="text" name="password" required lay-verify="required" lay-reqtext="密码不能为空" lay-vertype="tips" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				</div>
			</div>  
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn" lay-submit="" lay-filter="changeSubmit">修改</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>	
	</script>
	<script type="text/javascript" th:inline="javascript">
		layui.use([ 'form', 'layer' ], function() {
			var form = layui.form;
			var $ = layui.jquery;
			var layer = layui.layer;
			var content = $("#changePage").html();
			
			//添加用户
			form.on('submit(addSubmit)', function(data) {
				console.log(data.field);

				$.ajax({
					type: "post",
			 		url: [[@{/addUser}]],
			 		data: {
			 			tname: data.field.tname,
			 			tnum: data.field.tnum,
			 			password: data.field.password,
			 			school: data.field.school,
			 			college: data.field.college,
			 			tel: data.field.tel,
			 			sex: data.field.sex
			 		},
			 		success: function(msg) {
			 			if(msg=='success'){
			 				layer.msg("添加成功！");
			 			}else{
			 				layer.msg("添加失败！");
			 			}
			 			$('#reset').trigger("click");
					}
				});
				return false;
			}); 

			//修改密码弹窗
			$('#changePassword').on('click', function() {
				layer.open({
					type : 1,
					area : [ '500px', '300px' ],
					offset : '150px',
					title : "修改密码",
					content : content,
				});
			});

			//修改密码
			form.on('submit(changeSubmit)', function(data) {

				$.ajax({
					type: "post",
			 		url: [[@{/changePassword}]],
			 		data: {
			 			username: data.field.username,
			 			password: data.field.password,
			 		},
			 		success: function(msg) {
			 			if(msg=='success'){
			 				layer.msg("修改成功！");
			 				setTimeout(function(){ 
			 					window.location.href='http://127.0.0.1:8080/ecs/login'; 
			 				},2000);
			 			}else{
			 				layer.msg("修改失败！");
			 			}
			 			$('#reset').trigger("click");
					}
				});
				return false;
			}); 
			
			
		});
	</script>
</body>
</html>
