<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>打卡数据</title>
<link rel="stylesheet" type="text/css" href="css/layui.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
</head>
<body>

	<div id="container">


		<div class="hs">
			<div class="header">
				<ul class="layui-nav">
					<li class="layui-nav-item">
						<a href="javascript:;" id="userInfo" th:value="${teacher.tnum}" th:text="${teacher.tname}"></a>
						<dl class="layui-nav-child" style="z-index: 1000;">
								<dd><a href="javascript:;" id="changePassword">修改密码</a></dd>
								<dd><a th:href="@{/login}">退出</a></dd>
						</dl>	
					</li>
				</ul>
			</div>
			<div class="side">
				<ul class="layui-nav layui-nav-tree layui-nav-side">
					<li class="layui-logo"><span><a href="">疫情防控管理系统</a></span></li>
					<li class="layui-nav-item layui-nav-itemed"><a
						href="javascript:;">数据管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goDailyData(tnum=${teacher.tnum})}" class="layui-this">打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goBaseData(tnum=${teacher.tnum})}">基础数据</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">申请管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goOut(tnum=${teacher.tnum})}">出校申请</a>
							</dd>
							<dd>
								<a th:href="@{/goIn(tnum=${teacher.tnum})}">入校申请</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">数据报表</a></li>
					<li class="layui-nav-item"><a href="javascript:;">二维码</a></li>
					<li class="layui-nav-item" id="accessData"><a th:href="@{/goAccessData(tnum=${teacher.tnum})}">访问记录</a></li>
					<li class="layui-nav-item" id="userManage">
							<a href="javascript:;">用户管理</a>
							<dl class="layui-nav-child">
								<dd><a th:href="@{/goUserData(tnum=${teacher.tnum})}">用户数据</a></dd>
								<dd><a th:href="@{/goAddUser(tnum=${teacher.tnum})}">添加用户</a></dd>
							</dl>
					</li>
					<li class="layui-nav-item"><a href="javascript:;">设置</a></li>
				</ul>
			</div>
		</div>
		<div class="main layui-body">
			<div class="top layui-form">
				<div class="layui-form-item">
					<select class="layui-select" name="college" id="college"
						lay-filter="college" lay-verify="" lay-search>
						<option th:each="college : ${college}" th:value="${college.id}"
							th:text="${college.collegename}" />
					</select>
				</div>
				<div class="layui-form-item">
					<select class="layui-select" name="major" id="major"
						lay-filter="major" lay-verify="" lay-search>
						<option value="0" selected>所有专业</option>
						<option th:each="major : ${major}" th:value="${major.id}"
							th:text="${major.majorname}" />
					</select>
				</div>
				<div class="layui-form-item">
					<select class="layui-select" name="classes" id="classes"
						lay-filter="classes" lay-verify="" lay-search>
					</select>
				</div>
				<div class="layui-form-item">
					<input type="search" class="layui-input layui-input-inline"
						placeholder="学号或者姓名">
					<button type="button" class="layui-btn layui-btn-primary">搜索</button>
				</div>
			</div>
			<div class="layui-table-box">
				<table class="layui-table" id="dataTable">


				</table>
			</div>
		</div>
	</div>



	<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/html" id="changePage"> 
		<form class="layui-form" style="margin-top: 40px; padding-right: 60px;">
			<div class="layui-form-item">
				<label class="layui-form-label">账号</label>
				<div class="layui-input-block">
					<input type="text" name="username" autocomplete="off" class="layui-input" th:value="${teacher.tnum}" readonly="readonly">
				</div>
			</div>  
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-block">
					<input type="text" name="password" required lay-verify="required" lay-reqtext="密码不能为空" lay-vertype="tips" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				</div>
			</div>  
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn" lay-submit="" lay-filter="changeSubmit">修改</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>	
	</script>
	<script type="text/javascript" th:inline="javascript">
	layui.use(['table', 'form','layer'], function(){
		  var table = layui.table;
		  var form = layui.form;
		  var $ = layui.jquery;
		  var identify = [[${teacher.identify}]];
		  var layer = layui.layer;
		  var content = $("#changePage").html();
		  
		  //修改密码弹窗
		  $('#changePassword').on('click', function() {
		  	layer.open({
				type: 1,
				area: ['500px', '300px'],
				offset: '150px',
				title: "修改密码",
				content: content,	
			});
		  });
		  
		//修改密码
			form.on('submit(changeSubmit)', function(data) {

				$.ajax({
					type: "post",
			 		url: [[@{/changePassword}]],
			 		data: {
			 			username: data.field.username,
			 			password: data.field.password,
			 		},
			 		success: function(msg) {
			 			if(msg=='success'){
			 				layer.msg("修改成功！");
			 				setTimeout(function(){ 
			 					window.location.href='http://127.0.0.1:8080/ecs/login'; 
			 				},2000);
			 			}else{
			 				layer.msg("修改失败！");
			 			}
			 			$('#reset').trigger("click");
					}
				});
				return false;
			}); 
		  
		  
		  
		  //验证身份
		  if(identify != "0"){
			  $("#accessData").css('display', 'none');
			  $("#userManage").css('display', 'none');
		  }  
		  
		  //初始化表格
		  table.render({
		    elem: '#dataTable'
		    ,url: [[@{/dailyData(college=${teacher.college})}]]
		    ,cellMinWidth: 80 
		    ,page: true
		    ,method: 'post'
		    ,limit: 12
		    ,even: true
		    ,cols: [
		    	[ 
				  {field: 'id', title: '序号', width: 60}
				,{field: 'sname', title: '姓名', width: 140}
				,{field: 'snum', title: '学号', width: 160}
				,{field: 'college', title: '学院', width: 160}
				,{field: 'major', title: '专业', minWidth: 140}
				,{field: 'classes', title: '班级', width: 80}
				,{field: 'addr', title: '地点', maxWidth: 200}
				,{field: 'date', title: '日期', width: 140}
				,{field: 'temp', title: '体温', width: 60}
				,{field: 'symptom', title: '症状', width: 60}
				]
		    	]
		    ,groups : 5
			,jump: function(obj){
		      console.log(obj)
		    }
		  });
		  
		  //动态获取下拉框的值
			/* $('#college').onclick(function(){
					  alert("你点击了这个下拉框");
				  }); */
		  
		  
			form.on('select(college)', function(data) {
				/* //这里有一个判断,注意
				if(parentid==0){
					$.ajax({
						type: "post",
				 		url: [[@{/findAllCollege}]],
						dataType:"json",
				 		success: function(data) {
				 			console.log(data.data2[1].id);
				 			console.log(data.data2[1].collegename);
				 			  $("#college").empty();
				 			  $(" #college").prepend("<option value='0'>请选择学院</option>");
				 			  for (var i = 0; i < data.data2.length; i++) {
								//如果在select中传递其他参数，可以在option 的value属性中添加参数
								$("#college").append("<option value='" + data.data2[i].id + "'>" + data.data2[i].collegename +
									"</option>"); 
									
							};
							form.render('select');
						},
						error: function(){
							alert("获取数据失败,请重试.")
						}
					});
					
				}else{ */
				//根据学院找专业
				var parentid=data.value;
				var college = data.elem[data.elem.selectedIndex].text;
			 	$.ajax({
					type: "post",
			 		url: [[@{/findAllMajorByParentId}]]+"?parentid="+parentid,
					dataType:"json",
			 		success: function(data) {
			 			
			 			  $("#major").empty();
			 			  $(" #major").prepend("<option value='0'>所有专业</option>");
			 			  $("#classes").empty();
			 			  for (var i = 0; i < data.data.length; i++) {
							//如果在select中传递其他参数，可以在option 的value属性中添加参数
							$("#major").append("<option value='" + data.data[i].id + "'>" + data.data[i].majorname +
								"</option>"); 
							};
						  form.render('select');
						},
					error: function(){
						alert("获取数据失败,请重试.")
					}
				});
				/* }; */
				
			 	 table.render({
					    elem: '#dataTable'
					    ,url: [[@{/dayStudentDynamic}]]+"?college="+college
					    ,cellMinWidth: 80 
					    ,page: true
					    ,method: 'post'
					    ,limit: 12
					    ,even: true
					    ,cols: [
					    	[ 
							  {field: 'id', title: '序号', width: 60}
							,{field: 'sname', title: '姓名', width: 140}
							,{field: 'snum', title: '学号', width: 160}
							,{field: 'college', title: '学院', width: 160}
							,{field: 'major', title: '专业', minWidth: 140}
							,{field: 'classes', title: '班级', width: 80}
							,{field: 'addr', title: '地点', maxWidth: 200}
							,{field: 'date', title: '日期', width: 140}
							,{field: 'temp', title: '体温', width: 60}
							,{field: 'symptom', title: '症状', width: 60}
							]
					    	]
					    ,groups : 5
						,jump: function(obj){
					      console.log(obj)
					    }
					  });
			});
		  
		  //根据专业找班级
			form.on('select(major)', function(data) {
				var college = $("#college").find('option:selected').text();
				var parentid=data.value;
				var major = data.elem[data.elem.selectedIndex].text;
				
				if(parentid=="0"){
					$("#classes").empty();
					form.render('select');
					table.render({
					    elem: '#dataTable'
					    ,url: [[@{/dayStudentDynamic}]]+"?college="+college
					    ,cellMinWidth: 80 
					    ,page: true
					    ,method: 'post'
					    ,limit: 12
					    ,even: true
					    ,cols: [
					    	[ 
							  {field: 'id', title: '序号', width: 60}
							,{field: 'sname', title: '姓名', width: 140}
							,{field: 'snum', title: '学号', width: 160}
							,{field: 'college', title: '学院', width: 160}
							,{field: 'major', title: '专业', minWidth: 140}
							,{field: 'classes', title: '班级', width: 80}
							,{field: 'addr', title: '地点', maxWidth: 200}
							,{field: 'date', title: '日期', width: 140}
							,{field: 'temp', title: '体温', width: 60}
							,{field: 'symptom', title: '症状', width: 60}
							]
					    	]
					    ,groups : 5
						,jump: function(obj){
					      console.log(obj)
					    }
					  });
				}else{
					$.ajax({
						type: "post",
				 		url: [[@{/findAll}]],
						dataType:"json",
				 		success: function(data) {
				 			  $("#classes").empty();
				 			  $(" #classes").prepend("<option value='0'>所有班级</option>");
				 			  for (var i = 0; i < data.data1.length; i++) {
								//如果在select中传递其他参数，可以在option 的value属性中添加参数
								$("#classes").append("<option value='" + data.data1[i].id + "'>" + data.data1[i].classname +
									"</option>"); 
							};
							form.render('select');
						},
						error: function(){
							alert("获取数据失败,请重试.")
						}
					});
				 	table.render({
					    elem: '#dataTable'
					    ,url: [[@{/dayStudentDynamic}]]+"?major="+major
					    ,cellMinWidth: 80 
					    ,page: true
					    ,method: 'post'
					    ,limit: 12
					    ,even: true
					    ,cols: [
					    	[ 
							  {field: 'id', title: '序号', width: 60}
							,{field: 'sname', title: '姓名', width: 140}
							,{field: 'snum', title: '学号', width: 160}
							,{field: 'college', title: '学院', width: 160}
							,{field: 'major', title: '专业', minWidth: 140}
							,{field: 'classes', title: '班级', width: 80}
							,{field: 'addr', title: '地点', maxWidth: 200}
							,{field: 'date', title: '日期', width: 140}
							,{field: 'temp', title: '体温', width: 60}
							,{field: 'symptom', title: '症状', width: 60}
							]
					    	]
					    ,groups : 5
						,jump: function(obj){
					      console.log(obj)
					    }
					  });
				}
			 	
			});
		  //根据班级动态渲染页面
			form.on('select(classes)', function(data) {
				var major=$("#major").find("option:selected").text()
				var parentid=data.value;
				var classes = data.elem[data.elem.selectedIndex].text;
				
				if(parentid=="0"){
					table.render({
					    elem: '#dataTable'
					    ,url: [[@{/dayStudentDynamic}]]+"?major="+major
					    ,cellMinWidth: 80 
					    ,page: true
					    ,method: 'post'
					    ,limit: 12
					    ,even: true
					    ,cols: [
					    	[ 
							  {field: 'id', title: '序号', width: 60}
							,{field: 'sname', title: '姓名', width: 140}
							,{field: 'snum', title: '学号', width: 160}
							,{field: 'college', title: '学院', width: 160}
							,{field: 'major', title: '专业', minWidth: 140}
							,{field: 'classes', title: '班级', width: 80}
							,{field: 'addr', title: '地点', maxWidth: 200}
							,{field: 'date', title: '日期', width: 140}
							,{field: 'temp', title: '体温', width: 60}
							,{field: 'symptom', title: '症状', width: 60}
							]
					    	]
					    ,groups : 5
						,jump: function(obj){
					      console.log(obj)
					    }
					  });
				}else{
					table.render({
					    elem: '#dataTable'
					    ,url: [[@{/dayStudentDynamic}]]+"?classes="+classes+"&major="+major
					    ,cellMinWidth: 80 
					    ,page: true
					    ,method: 'post'
					    ,limit: 12
					    ,even: true
					    ,cols: [
					    	[ 
							  {field: 'id', title: '序号', width: 60}
							,{field: 'sname', title: '姓名', width: 140}
							,{field: 'snum', title: '学号', width: 160}
							,{field: 'college', title: '学院', width: 160}
							,{field: 'major', title: '专业', minWidth: 140}
							,{field: 'classes', title: '班级', width: 80}
							,{field: 'addr', title: '地点', maxWidth: 200}
							,{field: 'date', title: '日期', width: 140}
							,{field: 'temp', title: '体温', width: 60}
							,{field: 'symptom', title: '症状', width: 60}
							]
					    	]
					    ,groups : 5
						,jump: function(obj){
					      console.log(obj)
					    }
					  });
				}
			 	
			});
		  
		  
		});
	
	console.log([[${college}]]);
	console.log([[${major}]]);
	console.log([[${teacher.tnum}]]);
	console.log([[${msg}]]);
	</script>
</body>
</html>
