<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>入校申请</title>
		<link rel="stylesheet" type="text/css" href="css/layui.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
	</head>
	<body>

		<div id="container">


			<div class="hs">
				<div class="header">
					<ul class="layui-nav">
						<li class="layui-nav-item">
							<a th:href="@{/login}">退出</a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
						</li>
					</ul>
				</div>
				<div class="side">
					<ul class="layui-nav layui-nav-tree layui-nav-side">
						<li class="layui-logo">
							<span><a href="">疫情防控管理系统</a></span>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">数据管理</a>
							<dl class="layui-nav-child">
								<dd><a th:href="@{/goDailyData}">打卡数据</a></dd>
								<dd><a th:href="@{/goBaseData}">基础数据</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">申请管理</a>
							<dl class="layui-nav-child">
								<dd><a th:href="@{/goOut}">出校申请</a></dd>
								<dd><a th:href="@{/goIn}" class="layui-this">入校申请</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item"><a href="javascript:;">数据报表</a></li>
						<li class="layui-nav-item"><a href="javascript:;">二维码</a></li>
						<li class="layui-nav-item"><a th:href="@{/goAccessData}">访问记录</a></li>
						<!-- <li class="layui-nav-item">
							<a href="javascript:;">用户管理</a>
							<dl class="layui-nav-child">
								<dd><a th:href="@{/goUserData}">用户数据</a></dd>
								<dd><a th:href="@{/goAddUser}">添加用户</a></dd>
							</dl>
						</li> -->
						<li class="layui-nav-item"><a href="javascript:;">设置</a></li>
					</ul>
				</div>
			</div>
			<div class="main layui-body">
				<div class="top layui-form">
					<div class="layui-form-item">
						<select class="layui-select" name="college" lay-verify="">
							<option value="010" selected>计算机学院</option>
							<option value="021">会计学院</option>
							<option value="0571">理学院</option>
						</select>
					</div>
					<div class="layui-form-item">
					<select class="layui-select" name="major" lay-verify="">
						<option value="010" selected>计算机科学与技术</option>
						<option value="021">物联网工程</option>
						<option value="0571">软件工程</option>
					</select>
					</div>
					<div class="layui-form-item">
					<select class="layui-select" name="class" lay-verify="">
						<option value="010" selected>1741</option>
						<option value="021">1742</option>
						<option value="0571">1743</option>
					</select>
					</div>
					<div class="layui-form-item">
						<input type="search" class="layui-input layui-input-inline" placeholder="201710913305">
						<button type="button" class="layui-btn layui-btn-primary">搜索</button>
					</div>
				</div>
				<div class="layui-table-box">
					<table class="layui-table">
						<colgroup>
							<col width="150">
							<col width="200">
							<col>
						</colgroup>
						<thead>
							<tr>
								<th>序号</th>
								<th>申请人</th>
								<th>学号</th>
								<th>去向</th>
								<th>出入门</th>
								<th>时间</th>
								<th>状态</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>待审核</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>待审核</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已驳回</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已驳回</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr>
							<!-- <tr>
								<td>1</td>
								<td>王永澳</td>
								<td>201710913305</td>
								<td>回校</td>
								<td>1号门</td>
								<td>2020-03-31</td>
								<th>已通过</th>
								<td class="btn">
									<a class="layui-btn layui-btn-xs">通过</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs">驳回</a>
								</td>
							</tr> -->
						</tbody>
					</table>
				</div>
				<div id="page" class="page layui-table-page" style="line-height: 46px;"></div>
			</div>
		</div>



		<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script>
		layui.use('laypage', function(){
		  var laypage = layui.laypage;
		  
		  //执行一个laypage实例
		  laypage.render({
		    elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
		    ,count: 50 //数据总数，从服务端得到
		  });
		});
		</script>
	</body>
</html>
