<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>轨迹查询</title>
<link rel="stylesheet" type="text/css" href="css/layui.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
</head>
<body>

	<div id="container">


		<div class="hs">
			<div class="header">
				<ul class="layui-nav">
					<li class="layui-nav-item">
						<a href="javascript:;" id="userInfo" th:value="${teacher.tnum}" th:text="${teacher.tname}"></a>
						<dl class="layui-nav-child" style="z-index: 1000;">
								<dd><a href="javascript:;" id="changePassword">修改密码</a></dd>
								<dd><a th:href="@{/login}">退出</a></dd>
						</dl>	
					</li>
				</ul>
			</div>
			<div class="side">
				<ul class="layui-nav layui-nav-tree layui-nav-side">
					<li class="layui-logo"><span><a href="">疫情防控管理系统</a></span></li>
					<li class="layui-nav-item"><a
						href="javascript:;">数据管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goDailyData(tnum=${teacher.tnum})}">学生打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goDailyTeacherData(tnum=${teacher.tnum})}">老师打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goBaseData(tnum=${teacher.tnum})}">基础数据</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">申请管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goOut(tnum=${teacher.tnum})}">出校申请</a>
							</dd>
							<dd>
								<a th:href="@{/goIn(tnum=${teacher.tnum})}">入校申请</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a th:href="@{/goTrack(tnum=${teacher.tnum})}" class="layui-this">轨迹查询</a></li>
					<li class="layui-nav-item"><a th:href="@{/goEcharts(tnum=${teacher.tnum})}">数据报表</a></li>
					<li class="layui-nav-item" id="accessData"><a th:href="@{/goAccessData(tnum=${teacher.tnum})}">访问记录</a></li>
					<li class="layui-nav-item" id="dataImport"><a th:href="@{/goDataImport(tnum=${teacher.tnum})}">数据导入</a></li>
					<li class="layui-nav-item" id="userManage">
							<a href="javascript:;">用户管理</a>
							<dl class="layui-nav-child">
								<dd><a th:href="@{/goUserData(tnum=${teacher.tnum})}">用户数据</a></dd>
								<dd><a th:href="@{/goAddUser(tnum=${teacher.tnum})}">添加用户</a></dd>
							</dl>
					</li>
					<!-- <li class="layui-nav-item"><a href="javascript:;">设置</a></li> -->
				</ul>
			</div>
		</div>
		<div class="main layui-body">
			<div class="top layui-form">
				<div class="layui-form-item">
					<input type="search" class="layui-input layui-input-inline"
						id="informationStudent" placeholder="请输入学号或者姓名">
					<button type="button" class="layui-btn layui-btn-primary" id="searchStudent">搜索学生</button>
				</div>
				<div class="layui-form-item">
					<input type="search" class="layui-input layui-input-inline"
						id="informationTeacher" placeholder="请输入工号或者姓名">
					<button type="button" class="layui-btn layui-btn-primary" id="searchTeacher">搜索老师</button>
				</div>
				<div class="layui-form-item">
				</div>
			</div>
			<div class="layui-table-box">
				<table class="layui-table" id="dataTable">


				</table>
			</div>
			
		</div>
	</div>



	<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/html" id="changePage"> 
		<form class="layui-form" style="margin-top: 40px; padding-right: 60px;">
			<div class="layui-form-item">
				<label class="layui-form-label">账号</label>
				<div class="layui-input-block">
					<input type="text" name="username" autocomplete="off" class="layui-input" th:value="${teacher.tnum}" readonly="readonly">
				</div>
			</div>  
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-block">
					<input type="text" name="password" required lay-verify="required" lay-reqtext="密码不能为空" lay-vertype="tips" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				</div>
			</div>  
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn" lay-submit="" lay-filter="changeSubmit">修改</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>	
	</script>
	<script type="text/javascript" th:inline="javascript">
		layui.use(['table', 'form','layer'], function(){
		 	 var table = layui.table;
		 	 var form = layui.form;
		 	 var $ = layui.jquery;
		 	 var identify = [[${teacher.identify}]];
		 	 var layer = layui.layer;
			 var content = $("#changePage").html();
			 var school = [[${teacher.school}]];
			 var college= [[${teacher.college}]];
		
			//验证身份
			  if(identify != "0"){
				  $("#accessData").css('display', 'none');
				  $("#userManage").css('display', 'none');
				  $("#dataImport").css('display', 'none');
			  }  
			 
			 //修改密码弹窗
			  $('#changePassword').on('click', function() {
			  	layer.open({
					type: 1,
					area: ['500px', '300px'],
					offset: '150px',
					title: "修改密码",
					content: content,	
				});
			  });
			  
			//修改密码
				form.on('submit(changeSubmit)', function(data) {

					$.ajax({
						type: "post",
				 		url: [[@{/changePassword}]],
				 		data: {
				 			username: data.field.username,
				 			password: data.field.password,
				 		},
				 		success: function(msg) {
				 			if(msg=='success'){
				 				layer.msg("修改成功！");
				 				setTimeout(function(){ 
				 					window.location.href='http://127.0.0.1:8080/ecs/login'; 
				 				},2000);
				 			}else{
				 				layer.msg("修改失败！");
				 			}
				 			$('#reset').trigger("click");
						}
					});
					return false;
				}); 
			  
				//搜索学生
				 $("#searchStudent").click(function(){
					 var information=document.getElementById("informationStudent").value;
					//0是超管1是普通管理员
					if(identify==0){
						 if(information==null||information==""){
							 layer.msg('不能为空', {icon: 2,anim: 6});
						}else{
						
						 if($.isNumeric(information)){
						 snum=information;
						 table.render({
							    elem: '#dataTable'
							    ,url: [[@{/searchStudentDynamic}]]+"?school="+school+"&snum="+snum
							    ,cellMinWidth: 80 
							    ,page: true
							    ,method: 'post'
							    ,limit: 12
							    ,even: true
							    ,cols: [
							    	[ 
									  {field: 'id', title: '序号', width: 60}
									,{field: 'sname', title: '姓名', width: 140}
									,{field: 'snum', title: '学号', width: 160}
									,{field: 'college', title: '学院', width: 160}
									,{field: 'major', title: '专业', minWidth: 140}
									,{field: 'classes', title: '班级', width: 80}
									,{field: 'addr', title: '地点', maxWidth: 200}
									,{field: 'date', title: '日期', maxWidth: 160}
									]
							    	]
							    ,groups : 5
								,jump: function(obj){
							      console.log(obj)
							    }
							  });
					 	 }else{
					 		 name=information;
							 
							 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/searchStudentDynamic}]]+"?school="+school+"&name="+name
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'sname', title: '姓名', width: 140}
										,{field: 'snum', title: '学号', width: 160}
										,{field: 'college', title: '学院', width: 160}
										,{field: 'major', title: '专业', minWidth: 140}
										,{field: 'classes', title: '班级', width: 80}
										,{field: 'addr', title: '地点', maxWidth: 200}
										,{field: 'date', title: '日期', maxWidth: 160}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  });
					 		 
					 	 }
						}
					}else{
							 if(information==null||information==""){
								 layer.msg('不能为空', {icon: 2,anim: 6});
							}else{
							
							 if($.isNumeric(information)){
							 snum=information;
							 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/searchStudentDynamic}]]+"?school="+school+"&college="+college+"&snum="+snum
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'sname', title: '姓名', width: 140}
										,{field: 'snum', title: '学号', width: 160}
										,{field: 'college', title: '学院', width: 160}
										,{field: 'major', title: '专业', minWidth: 140}
										,{field: 'classes', title: '班级', width: 80}
										,{field: 'addr', title: '地点', maxWidth: 200}
										,{field: 'date', title: '日期', maxWidth: 160}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  });
						 	 }else{
						 		 name=information;
								 
								 table.render({
									    elem: '#dataTable'
									    ,url: [[@{/searchStudentDynamic}]]+"?school="+school+"&college="+college+"&name="+name
									    ,cellMinWidth: 80 
									    ,page: true
									    ,method: 'post'
									    ,limit: 12
									    ,even: true
									    ,cols: [
									    	[ 
											  {field: 'id', title: '序号', width: 60}
											,{field: 'sname', title: '姓名', width: 140}
											,{field: 'snum', title: '学号', width: 160}
											,{field: 'college', title: '学院', width: 160}
											,{field: 'major', title: '专业', minWidth: 140}
											,{field: 'classes', title: '班级', width: 80}
											,{field: 'addr', title: '地点', maxWidth: 200}
											,{field: 'date', title: '日期', maxWidth: 160}
											]
									    	]
									    ,groups : 5
										,jump: function(obj){
									      console.log(obj)
									    }
									  });
						 		 
						 	 }
							}
					}
				 });
			
				//搜索老师
				 $("#searchTeacher").click(function(){
					 var information=document.getElementById("informationTeacher").value;
					//0是超管1是普通管理员
					if(identify==0){
						 if(information==null||information==""){
							 layer.msg('不能为空', {icon: 2,anim: 6});
						}else{
						
						 if($.isNumeric(information)){
						 tnum=information;
						 table.render({
							    elem: '#dataTable'
							    ,url: [[@{/searchTeacherDynamic}]]+"?school="+school+"&tnum="+tnum
							    ,cellMinWidth: 80 
							    ,page: true
							    ,method: 'post'
							    ,limit: 12
							    ,even: true
							    ,cols: [
							    	[ 
									  {field: 'id', title: '序号', width: 60}
									,{field: 'tname', title: '姓名', width: 140}
									,{field: 'tnum', title: '工号', width: 160}
									,{field: 'college', title: '学院', width: 160}
									,{field: 'addr', title: '地点', maxWidth: 200}
									,{field: 'date', title: '日期', maxWidth: 160}
									]
							    	]
							    ,groups : 5
								,jump: function(obj){
							      console.log(obj)
							    }
							  });
					 	 }else{
					 		 name=information;
							 
							 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/searchTeacherDynamic}]]+"?school="+school+"&name="+name
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'tname', title: '姓名', width: 140}
										,{field: 'tnum', title: '工号', width: 160}
										,{field: 'college', title: '学院', width: 160}
										,{field: 'addr', title: '地点', maxWidth: 200}
										,{field: 'date', title: '日期', maxWidth: 160}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  });
					 		 
					 	 }
						}
					}else{
							 if(information==null||information==""){
								 layer.msg('不能为空', {icon: 2,anim: 6});
							}else{
							
							 if($.isNumeric(information)){
							 tnum=information;
							 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/searchTeacherDynamic}]]+"?school="+school+"&college="+college+"&tnum="+tnum
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'tname', title: '姓名', width: 140}
										,{field: 'tnum', title: '工号', width: 160}
										,{field: 'college', title: '学院', width: 160}
										,{field: 'addr', title: '地点', maxWidth: 200}
										,{field: 'date', title: '日期', maxWidth: 160}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  });
						 	 }else{
						 		 name=information;
								 
								 table.render({
									    elem: '#dataTable'
									    ,url: [[@{/searchTeacherDynamic}]]+"?school="+school+"&college="+college+"&name="+name
									    ,cellMinWidth: 80 
									    ,page: true
									    ,method: 'post'
									    ,limit: 12
									    ,even: true
									    ,cols: [
									    	[ 
											  {field: 'id', title: '序号', width: 60}
											,{field: 'tname', title: '姓名', width: 140}
											,{field: 'tnum', title: '工号', width: 160}
											,{field: 'college', title: '学院', width: 160}
											,{field: 'addr', title: '地点', maxWidth: 200}
											,{field: 'date', title: '日期', maxWidth: 160}
											]
									    	]
									    ,groups : 5
										,jump: function(obj){
									      console.log(obj)
									    }
									  });
						 		 
						 	 }
							}
					}
				 });
			
				
				
		
		});
	</script>
</body>
</html>

</html>