<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户数据</title>
<link rel="stylesheet" type="text/css" href="css/layui.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
</head>
<body>

	<div id="container">


		<div class="hs">
			<div class="header">
				<ul class="layui-nav">
					<li class="layui-nav-item"><a href="javascript:;"
						id="userInfo" th:value="${teacher.tnum}"
						th:text="${teacher.tname}"></a>
						<dl class="layui-nav-child" style="z-index: 1000;">
							<dd>
								<a href="javascript:;" id="changePassword">修改密码</a>
							</dd>
							<dd>
								<a th:href="@{/login}">退出</a>
							</dd>
						</dl></li>
				</ul>
			</div>
			<div class="side">
				<ul class="layui-nav layui-nav-tree layui-nav-side">
					<li class="layui-logo"><span><a href="">疫情防控管理系统</a></span></li>
					<li class="layui-nav-item"><a href="javascript:;">数据管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goDailyData(tnum=${teacher.tnum})}">学生打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goDailyTeacherData(tnum=${teacher.tnum})}">老师打卡数据</a>
							</dd>
							<dd>
								<a th:href="@{/goBaseData(tnum=${teacher.tnum})}">基础数据</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">申请管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goOut(tnum=${teacher.tnum})}">出校申请</a>
							</dd>
							<dd>
								<a th:href="@{/goIn(tnum=${teacher.tnum})}">入校申请</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a
						th:href="@{/goEcharts(tnum=${teacher.tnum})}">数据报表</a></li>
					<li class="layui-nav-item"><a
						th:href="@{/goTrackQuery(tnum=${teacher.tnum})}">轨迹查询</a></li>
					<li class="layui-nav-item" id="accessData"><a
						th:href="@{/goAccessData(tnum=${teacher.tnum})}">访问记录</a></li>
					<li class="layui-nav-item  layui-nav-itemed" id="userManage"><a
						href="javascript:;">用户管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{/goUserData(tnum=${teacher.tnum})}"
									class="layui-this">用户数据</a>
							</dd>
							<dd>
								<a th:href="@{/goAddUser(tnum=${teacher.tnum})}">添加用户</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="javascript:;">设置</a></li>
				</ul>
			</div>
		</div>
		<div class="main layui-body">
			<div class="top layui-form">
				<div class="layui-form-item">
					<select class="layui-select" name="college" id="college"
						lay-filter="college" lay-verify="" lay-search>
						<!-- 	<option th:each="college : ${college}" th:value="${college.id}"
							th:text="${college.collegename}" /> -->
					</select>
				</div>
				<div class="layui-form-item">
					<button type="button" class="layui-btn layui-btn-normal"
						id="template">
						<i class="layui-icon layui-icon-export"></i>数据模板
					</button>

				</div>
				<div class="layui-form-item">
					<button type="button" class="layui-btn" id="uploadExcel">
						<i class="layui-icon">&#xe67c;</i>上传数据
					</button>
				</div>
				<div class="layui-form-item">
					<input type="search" class="layui-input layui-input-inline"
						id="information" placeholder="请输入姓名或工号">
					<button type="button" class="layui-btn layui-btn-primary"
						id="search">搜索</button>
				</div>
			</div>
			<div class="layui-table-box">
				<table class="layui-table" id="dataTable">

				</table>
			</div>

		</div>
	</div>



	<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/html" id="changePage"> 
		<form class="layui-form" style="margin-top: 40px; padding-right: 60px;">
			<div class="layui-form-item">
				<label class="layui-form-label">账号</label>
				<div class="layui-input-block">
					<input type="text" name="username" autocomplete="off" class="layui-input" th:value="${teacher.tnum}" readonly="readonly">
				</div>
			</div>  
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-block">
					<input type="text" name="password" required lay-verify="required" lay-reqtext="密码不能为空" lay-vertype="tips" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				</div>
			</div>  
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn" lay-submit="" lay-filter="changeSubmit">修改</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>	
	</script>
	<script type="text/javascript" th:inline="javascript">
		layui.use(['table', 'layer','upload'], function(){
			var table = layui.table;
			var form = layui.form;
			var $ = layui.jquery;
			var layer = layui.layer;
			var content = $("#changePage").html();
			var upload = layui.upload;
			var identify = [[${teacher.identify}]];
			var school = [[${teacher.school}]];
			var college= [[${teacher.college}]];
			//身份判断渲染下拉框
			  //0是超级管理员 1是普通管理员
			  if(identify == 0){
				  $.ajax({
						type: "post",
				 		url: [[@{/initSelect}]]+"?school="+school,
						dataType:"json",
				 		success: function(data) {
				 			
				 			  //$("#major").empty();
				 			  $(" #college").prepend("<option value='0'>请选择学院</option>");
				 			  //$("#classes").empty();
				 			  for (var i = 0; i < data.data.length; i++) {
								//如果在select中传递其他参数，可以在option 的value属性中添加参数
								$("#college").append("<option value='" + data.data[i].id + "'>" + data.data[i].collegename +
									"</option>"); 
								};
							  form.render('select');
							},
						error: function(){
							layer.msg('数据加载失败', {icon: 2,anim: 6});
						}
					});
				  //初始化全校的
				  table.render({
					    elem: '#dataTable'
					    ,url: [[@{/userData}]]+"?school="+school
					    ,cellMinWidth: 80 
					    ,page: true
					    ,method: 'post'
					    ,limit: 12
					    ,even: true
					    ,cols: [
					    	[ 
							  {field: 'id', title: '序号', width: 60}
							,{field: 'tname', title: '姓名', width: 140}
							,{field: 'tnum', title: '工号', minWidth: 160}						
							,{field: 'school', title: '学校', minWidth:170}
							,{field: 'college', title: '学院', minWidth: 160}
							,{field: 'sex', title: '性别', width: 60}
							,{field: 'tel', title: '电话', minWidth: 140}
							]
					    	]
					    ,groups : 5
						,jump: function(obj){
					      console.log(obj)
					    }
					  });
			  }else{
				  //普通管理员为自己的学院的
				  $.ajax({
						type: "post",
				 		url: [[@{/findCollegeId}]]+"?collegeName="+college,
						dataType:"json",
				 		success: function(data) {
				 				console.log(data);
								$("#college").append("<option value='" + data.data.id + "'>" + data.data.collegename +
									"</option>"); 
								
							  form.render('select');
							},
						error: function(){
							layer.msg('数据加载失败', {icon: 2,anim: 6});
						}
					});
				  
			  }
			//数据模板下载
			$('#template').on('click',function() {
				window.location.href=[[@{/ouputTeacherTemplate}]];
				layer.msg('导出成功',{icon: 1});
		  });
			//excel上传
			var uploadInst = upload.render({
			    elem: '#uploadExcel' //绑定元素
			    ,url: [[@{/teacherUpload}]] //上传接口
			    ,method: 'post'
			    ,accept: 'file'
			    ,exts: 'xls|xlsx'
			    ,done: function(res){	
			      //上传完毕回调
			      if(res.res == 0){
			    	  layer.msg('上传成功',{icon: 1});
			      };
			      if(res.res == 1){
			    	  layer.msg('文件为空', {icon: 2,anim: 6});  
			      };
			    }
			    ,error: function(){
			      //请求异常回调
			    }
			  });
			  
			//修改密码弹窗
			$('#changePassword').on('click', function() {
			  layer.open({
				type: 1,
				area: ['500px', '300px'],
				offset: '150px',
				title: "修改密码",
				content: content,	
			  });
			});
			
			//修改密码
			form.on('submit(changeSubmit)', function(data) {

				$.ajax({
					type: "post",
			 		url: [[@{/changePassword}]],
			 		data: {
			 			username: data.field.username,
			 			password: data.field.password,
			 		},
			 		success: function(msg) {
			 			if(msg=='success'){
			 				layer.msg("修改成功！");
			 				setTimeout(function(){ 
			 					window.location.href='http://127.0.0.1:8080/ecs/login'; 
			 				},2000);
			 			}else{
			 				layer.msg("修改失败！");
			 			}
			 			$('#reset').trigger("click");
					}
				});
				return false;
			}); 

			 form.on('select(college)', function(data) {
					//根据学院找学院老师
						var college = data.elem[data.elem.selectedIndex].text;
						var id = $("#college").find('option:selected').val();
						if(id==0){
							 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/userData}]]+"?school="+school
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'tname', title: '姓名', width: 140}
										,{field: 'tnum', title: '工号', minWidth: 160}						
										,{field: 'school', title: '学校', minWidth:170}
										,{field: 'college', title: '学院', minWidth: 160}
										,{field: 'sex', title: '性别', width: 60}
										,{field: 'tel', title: '电话', minWidth: 140}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  });
						}else{
							 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/userData}]]+"?school="+school+"&college="+college
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'tname', title: '姓名', width: 140}
										,{field: 'tnum', title: '工号', minWidth: 160}						
										,{field: 'school', title: '学校', minWidth:170}
										,{field: 'college', title: '学院', minWidth: 160}
										,{field: 'sex', title: '性别', width: 60}
										,{field: 'tel', title: '电话', minWidth: 140}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  });
						}
					 
					});
					//搜索框实现
					 $("#search").click(function(){
						 var information=document.getElementById("information").value;
						
						if(identify==0){
							if(information==null||information==""){
								 layer.msg('不能为空', {icon: 2,anim: 6});
							 }else{
							if($.isNumeric(information)){
							 tnum=information;
							
						 	 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/dynamicTeacher}]]+"?school="+school+"&tnum="+tnum
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	   [ 
											  {field: 'id', title: '序号', width: 60}
											,{field: 'tname', title: '姓名', width: 140}
											,{field: 'tnum', title: '工号', minWidth: 160}						
											,{field: 'school', title: '学校', minWidth:170}
											,{field: 'college', title: '学院', minWidth: 160}
											,{field: 'sex', title: '性别', width: 60}
											,{field: 'tel', title: '电话', minWidth: 140}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  }); 
						 	 }else{
						 		 name=information;
								 
							 	 table.render({
									    elem: '#dataTable'
									    ,url: [[@{/fuzzyTeacher}]]+"?school="+school+"&name="+name
									    ,cellMinWidth: 80 
									    ,page: true
									    ,method: 'post'
									    ,limit: 12
									    ,even: true
									    ,cols: [
									    	   [ 
												  {field: 'id', title: '序号', width: 60}
												,{field: 'tname', title: '姓名', width: 140}
												,{field: 'tnum', title: '工号', minWidth: 160}						
												,{field: 'school', title: '学校', minWidth:170}
												,{field: 'college', title: '学院', minWidth: 160}
												,{field: 'sex', title: '性别', width: 60}
												,{field: 'tel', title: '电话', minWidth: 140}
											]
									    	]
									    ,groups : 5
										,jump: function(obj){
									      console.log(obj)
									    }
									  }); 
						 		 
						 	 }
							 }
						}else{
							
							if(information==null||information==""){
								 layer.msg('不能为空', {icon: 2,anim: 6});
							 }else{
							if($.isNumeric(information)){
							 tnum=information;
							
						 	 table.render({
								    elem: '#dataTable'
								    ,url: [[@{/dynamicTeacher}]]+"?school="+school+"&college="+college+"&tnum="+tnum
								    ,cellMinWidth: 80 
								    ,page: true
								    ,method: 'post'
								    ,limit: 12
								    ,even: true
								    ,cols: [
								    	[ 
										  {field: 'id', title: '序号', width: 60}
										,{field: 'sname', title: '姓名', width: 140}
										,{field: 'snum', title: '学号', width: 160}						
										,{field: 'school', title: '学校', width:170}
										,{field: 'college', title: '学院', width: 160}
										,{field: 'major', title: '专业', minWidth: 140}
										,{field: 'classes', title: '班级', width: 80}
										,{field: 'sex', title: '性别', width: 60}
										,{field: 'tel', title: '电话', minWidth: 140}
										]
								    	]
								    ,groups : 5
									,jump: function(obj){
								      console.log(obj)
								    }
								  }); 
						 	 }else{
						 		 name=information;
								 
							 	 table.render({
									    elem: '#dataTable'
									    ,url: [[@{/fuzzyTeacher}]]+"?school="+school+"&college="+college+"&name="+name
									    ,cellMinWidth: 80 
									    ,page: true
									    ,method: 'post'
									    ,limit: 12
									    ,even: true
									    ,cols: [
									    	[ 
											  {field: 'id', title: '序号', width: 60}
											,{field: 'sname', title: '姓名', width: 140}
											,{field: 'snum', title: '学号', width: 160}						
											,{field: 'school', title: '学校', width:170}
											,{field: 'college', title: '学院', width: 160}
											,{field: 'major', title: '专业', minWidth: 140}
											,{field: 'classes', title: '班级', width: 80}
											,{field: 'sex', title: '性别', width: 60}
											,{field: 'tel', title: '电话', minWidth: 140}
											]
									    	]
									    ,groups : 5
										,jump: function(obj){
									      console.log(obj)
									    }
									  }); 
						 		 
						 	 }
							 }
						}
						 
					}); 
			 
		});
		</script>
</body>
</html>
